print() To print a string in Python 3,just write:

In [1]:
print("This line will be printed.")

This line will be printed.

In [2]:
print(1)

1

Indentation
Python uses identation for blocks, instead of curly braces.
Both tabs and spaces are supported,  but the standard indentation requires standard Python code to use four spaces. For example:

In [3]:
x=1
if x== 2:
    #indented four spaces
    print("x is 1.")

Keywords
In [4]:

In [5]:
import keyword
print(keyword.kwlist)
print (len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

input()

In [6]:
my_val = int(input("Enter a number:"))

In [7]:
type(my_val)

int

In [8]:
print(my_val)

5

Variables and Types

In [9]:
student_marks = 25

print(student_marks)
print("student_marks")

25
student_marks

Native Data types:
1.Numeric - Integers/Floating point/Complex Numbers/Boolean (True/False) 2.Non numeric- String

Numbers 
Python supports two types of numbers - integers and floating point numbers . It also supports complex numbers, which will not be explained in this tutorial.
To define an integer, use the following syntax:
In [9]:

In [2]:
myint = 7
print(myint)
print(type(myint))

7
<class 'int'>

In [10]:

In [3]:
x = int(5.0)
print(x)

5

To define a floating point number, you may use one of the following notations:
In [11]:

In [4]:
myfloat = 7.5
print(type(myfloat))
print(myfloat)

<class 'float'>
7.5

In[12]:

In [5]:
myfloat = float(5)
print(myfloat)

5.0

In[13]:

In [6]:
myvar = '7'
print(myvar)
type(myvar)

7

str

In Out[13]:str
In [14]:

In [7]:
y = int(myvar)
type(y)

int

In [15]:int

In [8]:
a = 4
b = 2
c = a/b
int(c)

2

In [16]:

In [9]:
my_value = 5
print(my_value)

5

Constants
[17]:

In [10]:
NUM = 5
NUM

5

Strings

In [11]:
mystring = 'hello'
print(mystring)

hello

In [12]:
mystring = "hello"
mystring

'hello'

In[20]:

In [13]:
mystring = "Don't worry about apostrophes!"
print(mystring)

Don't worry about apostrophes!

In [14]:
one = 1
two = 2
three = one+two
print(three)

3

In [15]:
a = "hello"
b = "world"
c= a + b
print(c)

helloworld

Assigments can be done on more than one variable "simultaneously" on the same line like this
In [23]:

In [16]:
a, b, c = 3, 4, 7
print(a,b)
print(c)

3 4
7

Mixing operators between numbers and strings in not supported:

In [18]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Lists
Lists are very similar to arrays.They can contain any type of variable, and they can contain as many variables a you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.
In [26]:

In [19]:
mylist = [1, 3, 4, 6, 7, 9, "hi", "hello"]
print(mylist)

[1, 3, 4, 6, 7, 9, 'hi', 'hello']

Lists in Python have following properties:
1.Ordered 
2.Supports Heterogenous value (although recommended to use where values are Homogenous)
3.Iterable
4.Sequential
5.Size Mutuable

In [20]:
#Accessing Items in a List
# In [27]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[5])

1
3
4
6
7
9

In [21]:
#In [28]:
value = mylist[1]
print(value)

3

Some useful list methods
Here are some of the mostly used list methods. The remaining methods will be discussed in details in the upcoming sessions.

In [22]:
#[29]:
new_list = [21, 33, 45, 75, 91, 99]
print(new_list)

[21, 33, 45, 75, 91, 99]

In [23]:
#append
new_list.append(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 101]

In [24]:
#insert
#In [31]:
new_list.insert(1, 107)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101]

In [25]:
#extend
#In [32]:
new_list.extend([200, 201, 202])
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101, 200, 201, 202]

In [26]:
#pop
#In [33]:
removed_value = new_list.pop()
print(new_list)
print(removed_value)

[21, 107, 33, 45, 75, 91, 99, 101, 200, 201]
202

In [27]:
#In [34]:
new_list.pop(1)
print(new_list)

[21, 33, 45, 75, 91, 99, 101, 200, 201]

In [28]:
#remove
#In [35]:
new_list.remove(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 200, 201]

In [29]:
#del
#In[36]: 
del mylist[1]
#In[37]:
print(mylist)

[1, 4, 6, 7, 9, 'hi', 'hello']

In [30]:
#Indexing and Slicing
#In[38]:
new_list = [21, 33, 45, 75, 91, 99]

In [31]:
#Indexing
#In[39]:
new_list[2]

45

In [32]:
#In[40]:
new_list[-1]

99

In [33]:
#Slicing
#In[41]:
new_list[:3]

[21, 33, 45]

In [34]:
#In[42]:
new_list[1:]

[33, 45, 75, 91, 99]

In [35]:
#In[43]:
new_list[2:4]

[45, 75]

In [36]:
#In[44]:
new_list[1:5:2]  #slicing with a step size of two

[33, 75]

In [37]:
#In[45]:
new_list[-3:]  #specifying position from the last

[75, 91, 99]

In [38]:
#In[46]:
new_list[::-1]  #reverse the list

[99, 91, 75, 45, 33, 21]

Exercise A
In this exercise you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,2 and 3 to the "numbers" list, and the words 'hello' and 'world' to the string list.

In [1]:
#In [47]: 
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = None

#this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[]
[]
The second name on the names list is None

Exercise B
1. Take input from keyboard (fist input-Name, second input- Roll number)
2. Create a list, add the name and roll number to the list
3. Print the resulting list
Basic Operators
Arithmetic Operators

In [39]:
number = (1 + 2) *3 / 4.0 - 2
print(number)

0.25

In [40]:
remainder = 11 % 3
print(remainder)

2

In [41]:
x = 11//4
x

2

In [42]:
squared = 7 ** 2
cubed = 2** 3

In [43]:
print(squared)
print(cubed)

49
8

Using Operators with Strings

In [44]:
x = "hello" + "world"
print(x)

helloworld

In [45]:
lotsofhellos = "hello" *10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

Using Operators with Lists

In [46]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [48]:
x=7
y=5

#TODO: change this code
x_list = []
y_list = []
big_list= []

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

#testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 0 objects
y_list contains 0 objects
big_list contains 0 objects

String Formatting

In [49]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" %name)

Hello, John!

In [51]:
#This prints out "Hello, John!"
score = 7.8886554567
name = input("Enter your name:")
print("Hello, %s! Welcome to TBC! You scored %.3f" %(name, score))

Hello, Rojina! Welcome to TBC! You scored 7.889

In [52]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." %(name, age))

John is 23 years old.

In [53]:
#This prints out: A lists: [1,2,3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

f-string literals and the format method

In [54]:
name = "Daniel"
college = "The British College"
classtime = 1100

#Older C-style formatting
print("Hello %s. Welcome to %s. The class starts at %d hrs."%(name,college,classtime))

#Using Python's format method
print("Hello {}. Welcome to {}. The class starts at {}hrs.".format(name,college,classtime))

#Using Python's f-string literal
print(f"Hello{name}. WElcome to {college}. The class starts at {classtime} hrs.")

Hello Daniel. Welcome to The British College. The class starts at 1100 hrs.
Hello Daniel. Welcome to The British College. The class starts at 1100hrs.
HelloDaniel. WElcome to The British College. The class starts at 1100 hrs.

In [ ]:
Exercise

In [55]:
data = ("John", "Doe" , 53.44)

format_string = "Hello %s %s. Your current balance is $%.2f. "%data
print(format_string)

Hello John Doe. Your current balance is $53.44.

In [56]:
data = ("John" , "Doe" , 53.44)
format_string = f"Hello {data[0]} {data[1]}. Your current balance is ${data[2]}."
print(format_string)

Hello John Doe. Your current balance is $53.44.

In [57]:
data = ("John", "Doe", 53.44)

format_string = "Hello {}{}. Your current balance is ${}.".format(*data)
print(format_string)

Hello JohnDoe. Your current balance is $53.44.

Basic String Operation

In [2]:
astring = "Hello world!"

In [4]:
astring = "Hello world"
print(astring.count("l"))

3

In [7]:
mystr = "This NAME!"
mystr.swapcase()

'tHIS name!'

In [8]:
mystr.lower()

'this name!'

In [9]:
astring = "Hello world!"
print(astring)
print(astring[3:7])

Hello world!
lo w

In [10]:
astring = "Hello world!"
print(astring[-3::2])

l!

In [11]:
astring = "Hello world"
print(astring[::-1])

dlrow olleH

In [2]:
astring = "Hello world !"
print(astring . upper())
print(astring . lower())

HELLO WORLD !
hello world !

These make a new string with all letters converted to uppercase and lowercase, respectively.

In [3]:
astring = "Hello world !"
print(astring. startswith("Hello"))
print(astring. endswith("asdfasdfasdf"))

True
False

This is used to determine whether the string starts with something or ends with something, respectively. The first one will print True, as the string starts with "Hello". The second one will print False, as the string certainly does not end with "asdfasdfasdf".

In [4]:
astring = "Hello world !"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world', '!']

This splits the string into a bunch of strings grouped together in a list. Since this example splits at a space, the first item in the list will be "Hello", and the second will be "world!".

Conditions
Python uses boolean variables to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:
1if condition:
2   do sth:
3 elif condition2:
4   do sth else
5 else:
6    do sth

In [5]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3 ) # Prints out True

True
False
True

In [7]:
if (x==2):
    print("Yay!")

Yay!

Notice that variable assignment is done using a single equals operator "=", whereas comparison between two variables is done using the double equals operator "==". The "not equals" operator is marked as "!=".

In [8]:
(1 >=3) and (4>2)

False

Boolean operators / logical operators
The "and" and "or" boolean operators allow builiding comples boolean expressions, for example:

In [9]:
name = "Rojina"
age = 20
if name == "Rojina" and age == 20:
    print("Your name is Rojina, and you are also 20 years old.")

if name == "Rojina" or name == "Purnika":
    print("Your name is either Rojina or Purnika")

Your name is Rojina, and you are also 20 years old.
Your name is either Rojina or Purnika

The "in" operator
The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [ ]:
x = "abc"
x in "abcdef"

In [11]:
name = "Rojina"
if name in ["Rojina", "Purnika"]:
    print("Your name is either Rojina or Purnika.")

Your name is either Rojina or Purnika.

Python uses identation to define code blocks,

In [12]:
#In [85]:
x = 4*0.5

if x == 2:
    print("x equals two")
else:
    print("x doesnot equal to two.")

x equals two

 A statement is

In [13]:
#In[86:
odd_list = [1,2,3,4,5]
even_list =[]

if odd_list:
    print(odd_list)
if even_list:
    print(even_list)

[1, 2, 3, 4, 5]

Ternary Operator

In [15]:
#In[87]:
number_type = 'odd' if x%2!=0 else 'even'
print(number_type)

even

In [16]:
#In[88]:
number_type = 'odd' if x%2==0 else 'even'
print(number_type)

odd

The 'is' operator 
Unlike the double equals operator "==", the "is" operator does not match the values of the variables, but the instance themselves. For example:

In [17]:
#In[89]:
x = [1,2,3]
y = [1,2,3]
print(x == y) #prints out True
print(x is y) #Prints out False

True
False

In [18]:
num= [1,2,3,5,7]
num_copy =num.copy()

In [19]:
num_copy

[1, 2, 3, 5, 7]

In [20]:
num_copy.sort(reverse=True)
num_copy

[7, 5, 3, 2, 1]

In [21]:
num

[1, 2, 3, 5, 7]

In [22]:
num is num_copy

False

The "not" operator
Using "not" before a boolean expression inverts it:

In [24]:
print(not False) #Prints out True 
print((not False) == (False))  #Prints out False

True
False

Exercise
Change the variables in the first section, so that each if statement resolves as True.

In [25]:
# change this code
number = 1
second_number = 5
first_array = []
second_array =[]

if number >  15:
    print("1")

if first_array:
    print("2") 

if len(second_array) ==2:
    print("3") 

if len(first_array) + len(second_array) == 5:
    print("4")  

if first_array and first_array[0] == 1:
    print("5") 

if not second_number:
    print("6")

Loops
There are two types of loops in Python, for and while.
The "for" loop
For loops iterate over  a given sequence. Here ia an example.

In [26]:
primes = [2,3,5,7,9]

for x in primes:
    print(x)

2
3
5
7
9

In [27]:
for x in range(len(primes)):
    print(primes[x])

2
3
5
7
9

For loops can iterate over a sequence of numbers using the "range" functions. Note that the range function is zero based.

In [28]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

0
1
2
3
4

In [29]:
#prints out 3,4,5
for x in range(3,6):
    print(x)

3
4
5

In [30]:
# prints out 3,5,7
for x in range(3,8,2):
    print(x)

3
5
7

"while" loops

In [31]:
#Prints out 0,1,2,3,4

marks = [30,25,28,35,32]
count = 0
while count < len(marks):
    print(count)
    count += 1  #This is the same as count = count +1

0
1
2
3
4

In [32]:
# Prints out the actual marks
marks = [30,25,28,35,32]
count = 0
while True:
    if count >= len(marks):
        break
    print(marks[count])
    count += 1 #This is the same as count = count + 1

30
25
28
35
32

"break" and "continue" statements

In [33]:
# Prints out 0,1,2,3,4

count = 0
while True:
    if count >= 5:
        break
    print(count)
    count += 1

0
1
2
3
4

In [34]:
marks = [50, 55, 70, "F", 33]
for i in marks:
    if i == "F":
        break
    print(i)

50
55
70

In [35]:
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [36]:
for x in range(1, 11):
    # Check if x is even 
    if x % 2 == 0:
        print("Even")
        continue
    print(x)

1
Even
3
Even
5
Even
7
Even
9
Even

Can we use "else" caluse for loops?

In [37]:
count=0
while(count<5):
    print(count)
    count +=1

else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [38]:
for i in range(1, 10):
    print("input: ",i)
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to failin condition")

input:  1
1
input:  2
2
input:  3
3
input:  4
4
input:  5