Fundamentals of Data Science

In [1]:
phonebook = {}
phonebook["John"] ="938477566"
phonebook["Jack"] ="938377264"
phonebook["Jill"] ="947663781"
print(phonebook)

{'John': '938477566', 'Jack': '938377264', 'Jill': '947663781'}

In [2]:
phonebook ={
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
phonebook
#values = list(phonebook, values())

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [3]:
phonebook["Jack"]

938377264

In [4]:
phonebook.keys()

dict_keys(['John', 'Jack', 'Jill'])

In [5]:
phonebook.values()

dict_values([938477566, 938377264, 947662781])

In [6]:
phonebook.items()

dict_items([('John', 938477566), ('Jack', 938377264), ('Jill', 947662781)])

Iterating over dictionaries

In [7]:
phonebook ={"John" :938477566,"Jack" :938377264,"Jill" :947662781}
for name, number in phonebook.items():
    print("Phone number of %s is %d" %(name, number))
print("/n")   
for name in phonebook.keys():
    print("phone number of %s is %d" % (name, phonebook[name])) 
print("/n")   
for number in phonebook.values():
    print("Phone number of %s is %d" %(name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781
/n
phone number of John is 938477566
phone number of Jack is 938377264
phone number of Jill is 947662781
/n
Phone number of Jill is 938477566
Phone number of Jill is 938377264
Phone number of Jill is 947662781

Removing a value

In [8]:
phonebook = {
    "John" :938477566,
    "Jack" :938377264,
    "Jill" :947662781,
}
del phonebook["John"]
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [9]:
phonebook = {
    "John" :938477566,
    "Jack" :938377264,
    "Jill" :947662781
}
val = phonebook.pop("Jack")
print(phonebook)
val

{'John': 938477566, 'Jill': 947662781}

938377264

In [10]:
student = ["Jack", "Jill", "John"]
marks = [11,21,31]
list(zip(student,marks))

[('Jack', 11), ('Jill', 21), ('John', 31)]

Exercise

In [11]:
phonebook ={
    "John" :938477566,
    "Jack" :938377264,
    "Jill" :947662781
}

#write your code here
phonebook["Jake"] = 938273443
del phonebook["Jill"]
print(phonebook)
print()
# testing code
if "Jake" in phonebook:
    print("Jake is listed in the phonebook.")
if "Jill" not in phonebook:
    print("Jill is not listed in the phonebook.")

{'John': 938477566, 'Jack': 938377264, 'Jake': 938273443}

Jake is listed in the phonebook.
Jill is not listed in the phonebook.

List Comprehensions

In [12]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
for word in words:
    if word != "the":
        word_lengths.append(len(word))
print(words)  
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

In [13]:
word_lengths = [len(word) for word in words if word != "the"]
word_lengths

[5, 5, 3, 5, 4, 4, 3]

In [14]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = [len(word) for word in words if word != "the"]
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

Exercise

In [15]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
newlist = []
print(newlist)

[]

Dictionary Comprehensions

In [17]:
squares = {i:i**2 for i in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Sets

In [18]:
"my name is Eric and Eric is my name".split()

['my', 'name', 'is', 'Eric', 'and', 'Eric', 'is', 'my', 'name']

In [19]:
print(set("my name is Eric and Eric is my name".split()))

{'and', 'my', 'name', 'Eric', 'is'}

In [20]:
a = set(["Jake", "John", "Eric"])
print(a)
b = set(["JOhn", "Jill"])
print(b)

{'Jake', 'John', 'Eric'}
{'JOhn', 'Jill'}

In [21]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.intersection(b))

{'John'}

In [22]:
print(a.symmetric_difference(b))

{'Jake', 'Jill', 'Eric'}

In [23]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.difference(b))
print(b.difference(a))

{'Jake', 'Eric'}
{'Jill'}

In [ ]:
a.difference_update(b)

In [24]:
print(a)
print(b)

{'Jake', 'John', 'Eric'}
{'John', 'Jill'}

In [26]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.union(b))
a|b

{'Jake', 'Jill', 'John', 'Eric'}

{'Eric', 'Jake', 'Jill', 'John'}

Tuples

In [27]:
info = ("John", 85, 1.24)
type(info)

tuple

In [28]:
info = "Eric", 82, 1.22 #tuple packing
type(info)

tuple

In [ ]:
name, roll, gpa = info